<!DOCTYPE html>
<html>
<head>
    <title>{{ meet_name }} Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>{{ meet_name }} Results</h1>
        {% if events %}
            <input type="text" id="filterInput" placeholder="Filter">
            {% for event, results in events.items() %}
                <h2>{{ event }}</h2>
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Date</th>
                            <th>Athlete</th>
                            <th>Result</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.place }}</td>
                            <td>{{ result.date }}</td>
                            <td>
                                <a href="{{ url_for('athlete_profile', name=result.athlete) }}">
                                    {{ result.athlete }}
                                </a>
                            </td>
                            <td>{{ result.result }}</td>
                            <td>
                                <a href="{{ url_for('team_results', team_name=result.team) }}">
                                    {{ result.team }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>No results available for {{ meet_name }}.</p>
        {% endif %}
        <br>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
</body>
</html>
