<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="navbar">
    <nav>
        <ul>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
        <a class="btn btn-primary" href="{{ url_for('leaderboard') }}">Leaderboard</a>
        <a class="btn btn-info" href="{{ url_for('teams') }}">Teams</a>
        <a class="btn btn-success" href="{{ url_for('insert_result') }}">Insert New Result</a>
        <a class="btn btn-danger" href="{{ url_for('delete_result') }}">Delete Result</a>
        <a class="btn btn-primary" href="{{ url_for('search') }}">Search</a>     
        </ul>
    </nav>
</div>