<!DOCTYPE html>
<html>
<head>
    <title>Athlete Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Athlete Profile</h1>
        <h2>Personal Records</h2>
        <table id="prs">
            <tr>
                <th>Event</th>
                <th>Result</th>
            </tr>
            {% for event, result in prs.items() %}
            <tr>
                <td>{{ event }}</td>
                <td>{{ result }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Results</h2>                
        <table>
            <tr>
                <th>Date</th>
                <th>Athlete</th>
                <th>Meet</th>
                <th>Event</th>
                <th>Result</th>
                <th>Team</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
                <td>
                    <a href="{{ url_for('meet_results', meet_name=result[3]) }}">{{ result[3] }}</a>
                </td>
                <td>{{ result[4] }}</td>
                <td>{{ result[5] }}</td>
                <td>
                    <a href="{{ url_for('team_results', team_name=result[6]) }}">{{ result[6] }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>