<!DOCTYPE html>
<html>
<head>
    <title>{{ team_name }} Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>{{ team_name }} Personal Bests</h1>
        {% if athletes %}
            <table>
                <tr>
                    <th>Athlete</th>
                    <th>100m</th>
                    <th>200m</th>
                    <th>400m</th>
                    <th>800m</th>
                    <th>1500m</th>
                    <th>Mile</th>
                    <th>3000m</th>
                    <th>5000m</th>
                    <th>10000m</th>
                </tr>
                {% for athlete in athletes %}
                    <tr>
                        <td><a href="{{ url_for('athlete.athlete_profile', name=athlete[0]) }}">{{ athlete[0] }}</a></td>
                        {% for event in ['100m', '200m', '400m', '800m', '1500m', 'Mile', '3000m', '5000m', '10000m'] %}
                            <td>{{ team_pbs.get(athlete[0], {}).get(event, '') }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div class="container">
        <h1>{{ team_name }} Results</h1>
        {% if results %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Athlete</th>
                    <th>Meet</th>
                    <th>Event</th>
                    <th>Result</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result[0] }}</td>
                        <td><a href="{{ url_for('athlete.athlete_profile', name=result[1]) }}">{{ result[1] }}</a></td>
                        <td>
                            <a href="{{ url_for('meet.meet_results', meet_name=result[2]) }}">{{ result[2] }}</a>
                        </td>
                        <td>{{ result[3] }}</td>
                        <td>{{ result[4] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No results available for {{ team_name }}.</p>
        {% endif %}
        <br>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
</body>
</html>