<!DOCTYPE html>
<html>
<head>
    <title>{{ team_name }} Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% if athletes %}
            <h1>{{ team_name }} Roster</h1>
            <table id="team_athletes">
                <tr>
                    <th>Roster</th>
                </tr>
                {% for athlete in athletes %}
                    <tr>
                        <td><a href="{{ url_for('athlete_profile', name=athlete[0]) }}">{{ athlete[0] }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No athletes available for {{ team_name }}.</p>
        {% endif %}
    </div>
    <div class="container">
        <h1>{{ team_name }} Results</h1>
        {% if results %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Athlete</th>
                    <th>Meet</th>
                    <th>Event</th>
                    <th>Result</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result[0] }}</td>
                        <td><a href="{{ url_for('athlete_profile', name=result[1]) }}">{{ result[1] }}</a></td>
                        <td>
                            <a href="{{ url_for('meet_results', meet_name=result[2]) }}">{{ result[2] }}</a>
                        </td>
                        <td>{{ result[3] }}</td>
                        <td>{{ result[4] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No results available for {{ team_name }}.</p>
        {% endif %}
        <br>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
</body>
</html>